<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Params
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="value" clearinput></ion-input>
    </ion-item>
    <ion-button expand="full" [routerLink]="['/second', value]" routerDirection="forward">Push with Router link
    </ion-button>
    <ion-button expand="full" (click)="pushPage()">Push with Function</ion-button>
    <ion-button expand="full" (click)="openModal()">Open Modal</ion-button>
    <!-- <ion-button expand="full" (click)="openPopover($event)">Open Popover</ion-button> -->
    <fa-icon [icon]="['fab', 'stack-overflow']" size="6x"></fa-icon>
  </div>
</ion-content>